@{
    ViewData["Title"] = "RGB Interpolation";

}
@model ColorInterpolation


<h1>@ViewData["Title"]</h1>
<p> Enter two colors in HEX and a number of colors to interpolate that many between the first and second</p>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <form asp-controller="home" asp-action="RGBInterpolator" method="post">
                <div class="form-group">
                    <label>First Color</label>
                    <input asp-for="FirstColor" class="form-control" />
                    <label>Second Color</label>
                    <input asp-for="LastColor" class="form-control" />
                    <label>Number of Steps</label>
                    <input asp-for="NumberOfColors" class="form-control" min="0" max="13" />
                </div>
                <div asp-validation-summary="All" ></div>
                <input type="submit" class=" btn btn-primary" value="Display" />
            </form>

        </div>
        <div class="col-sm">
            <div>
                @if (Model != null)
                {

                    <div class="row">
                        <div style="width:80px; height:25px">
                            <p><b>HTML</b></p>
                        </div>
                        <div style="width:70px; height:25px">
                            <p><b>Color</b></p>
                        </div>
                    </div>
                    @for (int i = 0; i < Model.ColorList.Count; i++)
                    {
                        <div class="row">
                            <div style="width:70px; height:25px">
                                <p>@Model.ColorList[i]</p>
                            </div>
                            <div style="width:70px; height:25px; background-color:@Model.ColorList[i]">
                                
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        
    </div>
</div>


